# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

ErrorDocument 404 /notFound.html
ErrorDocument 401 /authRequired.html
ErrorDocument 400 /badRequest.html
ErrorDocument 403 /forbidden.html
ErrorDocument 500 /inServerErr.html

IndexIgnore */*

<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^http://www.handmade-itsastitch.site88.net/index.html [nc]
RewriteRule (.*) http://www.itsastitch.site88.net/$1 [R=301,L]

